body{
    font-family: Arial, sans-serif;

}
.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #55746a;
    border-radius: 5px;
    border-radius: 5px;



}
h1{
    color: rgb(14, 196, 209);
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;

}
ul {
    margin: 0;
    padding:0;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
    color:rgb(14, 196, 209);
    font-size: 18px;
    font-size:100;
    line-height: 19px;
}
li:first-letter{
    text-transform: capitalize;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;

}
.weathertemperature img {
    margin-right: 10px;
    height: 64px;
    width: 64;

}
.weather-temperature strong {
    color: rgb(14, 196, 209);
    font-size: 64px;
    line-height:  1;
    font-weight: 400;
}
.weather- temperature-units{
    position: relative;
    font-size: 16px;
    top: -34 px;
}


